<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPDevOps</title>
  </head>
  <body>
    <header>
        <h1>{{Titre}}</h1>
    </header>
    <main>
        <img src={{IMAGE_URL}} alt="cat" width="300px" >
    </main>
    <footer>
      &copy; Nélia Semedo Silva 
      {{PeDePag}}
    </footer>
  </body>
</html>
